@import 'standards';

.app-container{
  margin:0;
  padding:0;
  height: 100vh;
}

.dynamic-width-wrapper {
  float:left;
  width:100%;
  height: 100%;
}

.dynamic-width-wrapper .resizable-container {
  float: left;
  height: 100%;
}

.dynamic-width-wrapper .adjusting-width-container {
  overflow: hidden;
  height: 100%;
}

.overflow-wrapper {
  overflow: auto;
  height: 100%;
}

.route-container {
  overflow: auto;
  min-height: calc(100% - 38px);
}

.footer-container {
  width: 100%;
}
